<div class="center boxshadow" style="margin-bottom:8px;">
    <div class="mainMenu">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td id="head_index" onclick="window.location = '/'">
						首页
                </td>
                <td id="head_progress" onclick="window.location = '/'">
						报表管理
                </td>
                <td id="head_material" onclick="window.location = '${ctx }/material/index.action'">
						物资管理
                </td>
                <td id="head_equipment" onclick="window.location = '${ctx }/equipment/index.action'">
						设备管理
                </td>
                <td id="head_fund" onclick="window.location = '${ctx }/fund/index.action'">
						成本管理
                </td>
                <td id="head_quality" onclick="window.location = '${ctx }/quality/safe-month-report.action'">
						安质环管理
                </td>
                <td id="head_emp" onclick="window.location = '${ctx }/emp/index.action'">
						人员管理
                </td>
                <td id="head_order" onclick="window.location = '${ctx }/order/index.action'">
						文件管理
                </td>
                <td id="head_album" onclick="window.location = '${ctx }/album/index.action'">
						工程宣传
                </td>
                <td id="head_security" onclick="window.location = '${ctx }/security/index.action'">
						系统管理
                </td>
            </tr>
        </table>
    </div>
</div>